.metric {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 150px;

}

.metric-block{
    display: inline-flex;
}

.metric-title{
    font-size: medium;
    font-weight: 500;

}

.metric-value{
    font-size: large;
    font-weight: 300;
    padding-left: 10px;
}