.image-selection {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

}

.image-selection-title {
    font-size: large;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Metric CSS Values */

.metric {
    /* margin-top: 50px; */
    margin-bottom: 30px;
    /* padding-left: 100px;
    padding-right: 150px; */

}


.image-selection .metric-block {
    display: inline-flex;
}

.image-selection .metric-title {
    font-size: medium;
    font-weight: 400;

}

.image-selection .metric-value {
    font-size: large;
    font-weight: 300;
    padding-left: 10px;
}


.image-selection-container2 {
    margin-top: 30px !important;
}



.image-selection-container {
    margin-top: 30px !important;
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    gap: 7px;
    /* max-width: 800px; */
    margin: 0 auto;
    /* padding-left: 100px !important;
    padding-right: 100px !important; */

}


/* .image-selection-container .ReactGridGallery div {
    justify-content: center;
    align-content: flex-start;
} */

.image-container {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    position: relative;
    transition: border 0.2s ease;
    border: 1px solid black;

}

.image-container-selected {
    border: 5px solid #007bff;
}

.image-selection-container img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 960px) {

    .image-selection{
        padding-left: 0px;
        padding-right: 0px;
    }
    .image-selection-container {
        gap: 2px;
    }

    .image-container-selected {
        border: 3px solid #007bff;
    }

}



@media (max-width: 720px) {
    .image-selection-container {
        gap: 1px;
    }

    .image-container-selected {
        border: 2px solid #007bff;
    }

}